{profiles, [
    {prod, [
        {erl_opts, [no_debug_info, warnings_as_errors]}
    ]},
    {test, [
        {erl_opts, [debug_info, warnings_as_errors]},
        {cover_enabled, true},
        {cover_opts, [verbose]}
    ]}
]}.

{shell, [
    {apps, [netflow]}
]}.

{xref_checks,[
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{provider_hooks, [{post, [{compile, xref}]}]}.
